@font-face {
  font-family: "Titillium Web Regular";
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "Titillium Web Semi";
  src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf);
}
