$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary: #12c605;
$primary2: #ffaa05; //indigo
$primary3: #fdaec4; //white

$secondary: #38172f; // slate
$secondary2: #f0ebe6; // cloud

$background: #adccbd; //graphite
$background2: #e1ebdc; //light-grey

$support: #fbc757; //green
$support2: #c3f53a; //red/orange

// for NFT Cards Section

$lightgreen: #56db5a;
$orange: #ffaa05;
$pink: #ffc9d9;
