$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary: #131b2c; //black
$primary2: #2e66e5; //indigo
$primary3: #ffffff; //white

$secondary: #5c667e; // slate
$secondary2: #bdc5d5; // cloud

$background: #232940; //graphite
$background2: #f7f8f9; //light-grey

$support: #158463; //green
$support2: #c94515; //red/orange
