@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.card-container {
    margin-top: 10rem;
    height: 100%;
}
.container {
   
    
  
    &__title-box {
        position: relative;
        height: 15.625rem;
      
        &-text {
            position: absolute;
            color: white;
            top: 6.875rem;
            left: 6.25rem;
            font-size: 4.0625rem; 
        }     
    }
}
.card-container {
  
    @include flex(row, center, center);
    margin: -0.625rem 0 0 0;
    flex-wrap: wrap;

    @include tablet {
        @include flex(row, center, center);
        margin: -0.625rem 0 0 0;
    }
}
.card {
    border-radius: .3125rem;
    min-width: 15.625rem;
    max-width: 15.625rem;
    min-height: 21.875rem;
    max-height: 23.125rem;
    background-color: white;
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;

    @include tablet {
        border-radius: .3125rem;
        min-width: 15.625rem;
        max-width: 15.625rem;
        min-height: 21.875rem;
        max-height: 23.125rem;
        background-color: white;
        margin: 0 1.25rem 0 1.25rem;
    }

    &:hover {
        opacity: 0.5;
    }

    &__title {
        text-align: center;
        border-bottom: .1875rem solid black;
        margin: .9375rem .9375rem 1.875rem .9375rem;
        font-weight: 800;
        font-size: 1rem;
        }

    &__list {
        list-style: none;
        text-align: center;
        margin: .9375rem .9375rem .9375rem .9375rem;
        font-weight: 300;
        font-size: .9375rem;
    }    
    &__item {
        padding: .9375rem 0 .9375rem 0;
        margin: .9375rem 0 .9375rem 0;
        background-color: beige;
    }
    
}

