@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.announcement-bar {
  background-color: $neon;
  height: 211px;
  padding-top: 100px;
  padding-bottom: 450px;
  // &__text {
  //   font-size: 46px;
  //   padding-top: 70px;
  // }
  &__twttr {
    padding-right: 20px;
  }
  &__punk {
    padding-left: 20px;
  }
  &__twttr-fact {
    display: inline-block;
    padding-top: 60px;
    padding-right: 70px;
  }
  &__punk-fact {
    display: inline-block;
    padding-left: 70px;
  }
}
