@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.announcement-bar {
  background-color: $neon;
  height: 211px;
  &__text {
    font-size: 46px;
    padding-top: 70px;
  }
}
